/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #063f77;
	background: #063f77;
}

a {
	color: #063f77;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

.text-large {
	font-size: 1.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
    color: #fff;

}

.container > header {
	text-align: center;
	background:#2980d4;
	padding: 3em;
    color: #fff;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
    color:#fff;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
    color:#fff;
}

.main,
.container-profile > header {
	margin: 0 auto;
	padding: 10px;
    color: #fff;
}

.container-profile > header {
	text-align: center;
	background:#2980d4;
	padding: 1em;
    color: #fff;
}

.container-profile > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
    color:#fff;
}

.container-profile > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
    color:#fff;
}

/* Main Content */
.main {
	max-width: 69em;
}

.main-page {
   min-height:300px;
   margin-left:auto;
   margin-right:auto;
   padding-top:2em;
   text-align:center;
}

.search-button {
    max-height:40px;
    width:55px;
}


.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
    color:#1e5c99;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: right;
	line-height: 1.5;
    color:#1e5c99;
}

.login {
	float:right;
	width: 100%;
	padding: -10em 10em;
	min-height: 300px;
	position: relative;
    color:#1e5c99;
}

.login:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.login Label {
    padding-bottom: 0 2em;
}

.login p {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: right;
	line-height: 1.5;
    color:#1e5c99;
}

.station-list {
}

.station-list-label {
    padding-left:1em;

}

.station-name {
    font-size: large;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.text-box {
	width: 230px;
	border: 1px solid #3366FF;
	border-left: 4px solid #3366FF;
}


.text-box-large {
	width: 340px;
	border: 1px solid #3366FF;
	border-left: 4px solid #3366FF;
    height: 40px;
    font-size: large;
}


TextBox {
	width: 230px;
	border: 1px solid #3366FF;
	border-left: 4px solid #3366FF;

}


/* To Navigation Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;

}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.codrops-top a:hover {
	color: #268ef4;
	background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
	float: right;
    padding-right: 10em;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background: #01488e;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}


button:hover {
	background: #153f69;
}

.button {
	border: none;
	padding: 0.6em 1.2em;
	background: #01488e;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

.button:hover {
	background: #153f69;
}

.station-list-container {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px;
	display: inline-block;
    height:auto;
    width:80%;
	margin: 10px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    border: solid 2px #226fbe;
	border-radius: 15px;
}

.station-list-main {
    width:50%;
}

.station-list-container:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.station-list-container:hover {
	background: #2980d4;
	color: #fff;
}


@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}