<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.n8925666ConnectionString"
            connectionString="Data Source=fastapps04.qut.edu.au;Initial Catalog=n8925666;User ID=n8925666"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>