<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.BikeWayDBConnectionString"
            connectionString="Data Source=WIN-RIA4MG1SAT3;Initial Catalog=BikeWayDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>